@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rokkitt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caladea:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Oswald:wght@500&display=swap');
* {
  box-sizing: border-box;
  /* scroll-behavior: smooth; */

}
 
body {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  width: 600px;
}
/* .loader{
  position: fixed;
  z-index: 9999999;
  background: #fff;
  width: 100%;
  height: 100%;
  top: calc(50vh - 75px);
  text-align: center;
  font-family: 'Oswald', sans-serif;
}
.loader div{
  background: linear-gradient(to right, #b530d0 0%, #ec3481 50%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 35px;
  font-family: 'Oswald', sans-serif;
} */
#main{
  display: block;
  
}
/* Grid design start */

.container {
  padding: 24px;
}
.container-no {
  padding: 0px;
  margin: 0%;
}
.col {
  float: left;
  width: 100%;
  padding: 0px;
}
.col-2 {
  float: left;
  width: 50%;
  padding: 10px;
}
.col-3 {
  float: left;
  width: 80%;
  padding: 10px;
}
.row {
  margin: auto;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Grid design end  */

/* padding start  */

.p-20-tb {
  padding-top: 20px;
  padding-bottom: 20px;
}
.p-10-tb {
  padding-top: 10px;
  padding-bottom: 10px;
}
.b-r-all {
  border-radius: 10px;
}
.br-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
/* padding end  */

/* tags design start  */
a {
  color: white;
  text-decoration: none;
}
a:hover{
  color: #eeac77;
}
.img {
  width: 100%;
  height: 100%;
}

/* tags design end  */

/* utility design start  */

.bg-lightgray {
  background-color: rgb(67, 71, 75);
}
.bg-gray {
  background-color: rgb(26, 26, 27);
}
.bg-cam{
  background-image: url('https://i.ibb.co/47kMByz/bg-for-camera.jpg');
  background-size: 100% 100%;
}
.d-block {
  display: block;
}

.bg-white {
  background-color: white;
}

.b-text{
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
}

.bg-lock {
  background-image: url('https://i.ibb.co/9NMsGWz/lock-woman.jpg');
  background-repeat: no-repeat;
  background-size: 110% 100%;
}
.bg-dark {
  background-color: black;
}
.text-white {
  color: rgb(189, 180, 180);
}
.h {
  height: 450px;
}
.gradient-text {
  background: linear-gradient(to right, #b530d0 0%, #ec3481 50%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 35px;
  font-family: 'Oswald', sans-serif;
}
.big-text {
  font-size: 35px;
}
.details-text{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 17px;
}
.simple-text{
  padding-top: 20px;
  line-height: 30px;
  font-size: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
}
/* utility design end  */


/* design by class */

/* top head  */
.tophead {
  background-color: rgb(51, 48, 48);
  height: 50px;
}

/* top head brand name  */
.brand-name {
  color: white;
  text-align: right;
  padding: 5px 0px 0px 0px;
  font-size: 35px;
  width: 65%;
  float: left;
}
.brand-name a {
  text-decoration: none;
  font-family: Caladea;
  text-transform: uppercase;
  background: linear-gradient(to right, #eeac77 0%, #ee639d 50%, #f73c84 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
 /* top head search  */
.search-brand {
  color: white;
  text-align: right;
  padding: 15px;
  width: 30%;
  float: left;
}
 /* nav bar  */
#navbar {
  width: 600px;
  background-color: rgba(29, 29, 23, 0.8);
  overflow: hidden;
}

 /* sticky class for nav  */
.sticky {
  position: fixed;
  top: 0;
  width: 600px;
}
/* .non-sticky{
  top: 0;
  width: 100%;
  position: relative;
  z-index: 9;
} */
 /* nav width control  */
.nav-control {
  width: 33.33%;
  float: left;
}
.model-name {
  font-size: 20px;
  padding: 10px;
  color: white;
  font-family: 'Oswald', sans-serif;
}
 /* nav toggle switch  */
.toggle-nav {
  text-align: center;
  padding-top: 15px;
}
.toggle-nav span {
  transform: rotate(270deg);
  display: inline-block;
  font-size: 20px;
  color: white;
  cursor: pointer;
  transition: all 1s;
}
 /* buy mobile button  */
.buy-model {
  text-align: right;
  font-size: 15px;
  padding: 15px;
}
.buy-model a {
  text-decoration: none;
  color: white;
  background-color: rgb(95, 204, 32);
  padding: 5px;
  border-radius: 3px;
}
 /* nav bar collapse  */
.collapse-item {
  text-align: center;
  width: 100vw;
  display: block;
  transition: 1s;
  height: 0px;
  background-color: rgba(29, 29, 23, 0.8);
  overflow: hidden;
  z-index: 9;
  top: 0;
}
 /* nav bar collapse item  */
.item {
  padding: 10px;
  list-style: none;
  border-top: 1px solid slategray;
  font-family: Rokkitt;
  font-weight: 100;
}
 /* header area for slideshow  */
.header-area {
  position: relative;
}
 /*  slide show start  */
.slideshow {
  max-width: 1000px;
  position: relative;
  margin: auto;
  overflow: hidden;
  z-index: -1;
}
.slides {
  display: none;
}
.slides img {
  vertical-align: middle;
  width: 100%;
}
.slides2 {
  display: none;
}
.slides2 img {
  vertical-align: middle;
  width: 100%;
}
.text {
  color: rgb(255, 255, 255);
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background-color: rgba(29, 29, 23, 0.5);
  font-family: Acme;
}
.effect {
  animation: fade 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
 /* slide show end  */

 /* quick top view  */
.quick-view {
  position: relative;
  background-image: url('https://i.ibb.co/qx22xCw/bg-for-uplist.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  z-index: -1;
}
 /* quick view table text  */
.table-text {
  color: white;
  text-align: center;
  background-color: #ec3481;
  font-size: 15px;
  padding: 5px;
  margin-top: -3px;
  border-radius: 0px 0px 10px 10px;
  font-family: Rokkitt;
}

 /* footer top notice  */
.notice-area {
  text-align: center;
}
.notice-area span{
  font-family: 'Rokkitt', sans-serif;
  line-height: 20px;
}
 /* footer menu collapsible start */
.collapsible {
  color: black;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 15px;
  background-color: white;
  border-bottom: 1px solid rgba(29, 29, 23, 0.5);
  font-family: 'Oswald', sans-serif;
}

.active, .collapsible:hover {
  background-color: #fff;
}

.collapsible:after {
  content: '\002B';
  color: black;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.7s ease-out;
  background-color: #f1f1f1;
  
}
.content a{
  display: block;
  color: rgb(121, 121, 121);
  text-align: left;
  font-size: 15px;
  padding: 5px;
  font-family: Acme;
}
.content a:hover{
  color: #330867;
}
 /* footer menu collapsible end */


  /* footer with copyright  */
.footer-area span{
  font-family: 'Acme', sans-serif;
  padding: 10px;
}
.footer-area span a{
  font-size: 25px;
  color: #b0acb1;
}

.footer-area span a:hover{
  color: #eeac77;
}

/* design by class end  */

/* animation section start */
.fade-in {
  animation: fade-in 2s;
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.9, 0);
  }
  to {
    opacity: 1;
  }
}
.left-to-right{
  animation: left-to 2s;
  overflow: hidden;
}
@keyframes left-to {
  0% {
    opacity: 0;
    transform: translateX(-200px);
 }
 100% {
    opacity: 1;
    transform: translateX(0);
 }
}
.right-to-left{
  animation: right-to 2s;
  overflow: hidden;
}
@keyframes right-to {
  0% {
    opacity: 0;
    transform: translateX(200px);
 }
 100% {
    opacity: 1;
    transform: translateX(0);
 }
}
.left-to {
  opacity: 0;
}
.right-to {
  opacity: 0;
}

/* animation section end */

